.school-lunch-form-allergen-dusty-checkboxes .checkbox-inline {
	width:150px;
	margin-left: 0;
}
.school-lunch-form-allergen-recommendation-checkboxes .checkbox-inline {
	width:150px;
	margin-left: 0;
}
.school-lunch-photo {
	max-height: 300px;
}